.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.seach-input {
  margin: 2%;
  width: 50%;
}

.btn {
  background-color: lightblue;
}

.table-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.table-container > span {
  padding: 10px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}


.nav {
  display: block;
  text-align: right;
  padding: 2%;
}


.nav > button {
  padding: 5px;
}